<!DOCTYPE html>
<html>
  <head>
    <title>Baseplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'session', media: 'all'%>

    <%= javascript_include_tag 'application' %>

    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://rawgit.com/basecamp/trix/master/dist/trix.js"></script>
    -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      window.demo = "<%= image_url('demo1.png') %>";
      window.legohead = "<%= image_url('lego-figure-toy-head.png') %>";
      window.green_plus = "<%= image_url('green_plus.svg') %>"
      window.stars = "<%= image_url('stars.svg') %>"
      window.cheers = "<%= image_url('lego_cheers.jpg') %>";
      // window. = "<%= image_url('') %>";

      window.butcher_paper_top = "<%= image_url('butcher_paper_top.svg') %>"
      window.butcher_paper_bottom = "<%= image_url('butcher_paper_bottom.svg') %>"
      window.colors_timeline = "<%= image_url('colors_timeline.png')%>"

      window.nav_accounts = "<%= image_url('nav_accounts.png') %>";
      window.nav_home = "<%= image_url('nav_home.png') %>";
      window.nav_pint = "<%= image_url('lego_cup.png') %>";
      window.nav_hey = "<%= image_url('nav_hey.png') %>"

      window.demo_avatar = "<%= image_url('demo_avatar1.png') %>";
      window.forestman_avatar = "<%= image_url('forestman_avatar.png') %>";
      window.blacktron_avatar = "<%= image_url('blacktron_avatar.png') %>";

      window.lego_brick = "<%= image_url('lego_brick_icon.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>



  </body>
</html>