<!DOCTYPE html>
<html>
  <head>
    <title>Baseplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'session', media: 'all'%>
    <%= javascript_include_tag 'application' %>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      window.legohead = "<%= image_url('lego-figure-toy-head.png') %>";
      window.demo = "<%= image_url('demo1.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>



  </body>
</html>